*,
html,
body {
    box-sizing: border-box;
    user-select: none;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

#center {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #aaa;
    top: 200px;
    left: 200px;
    border: 20px solid rgba(125, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#bg-1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #50a073;
    width: 50%;
    height: 50%;
}

#bg-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #a05558;
    width: 50%;
    height: 50%;
}

#bg-3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #c9b564;
    width: 50%;
    height: 50%;
}

#bg-4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #4a6b8c;
    width: 50%;
    height: 50%;
}

#inner-1 {
    width: 90%;
    height: 90%;
    background-color: #00A74A;
    cursor: pointer;
}

#inner-2 {
    width: 90%;
    height: 90%;
    background-color: #9F0F17;
    cursor: pointer;
}

#inner-3 {
    width: 90%;
    height: 90%;
    background-color: #CCA707;
    cursor: pointer;
}

#inner-4 {
    width: 90%;
    height: 90%;
    background-color: #094A8F;
    cursor: pointer;
}

#display {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #50A073;
    top: 10px;
    left: 10px;
    color: #b7ffd6;
    font-size: 44px;
    padding-left: 6px;
    border: 2px solid #ccc;
}

#on-off {
    position: absolute;
    top: 13px;
    left: 80px;
}

#label {
    color: #9F0F17;
    font-weight: bold;
    font-size: 16px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#start,
#strict {
    margin-top: 120px;
}

#control-panel {
    text-align: center;
}

.active {
    background: black !important;
    color: white !important;
}
